@import url('https://fonts.googleapis.com/css?family=Poppins:400,500|Quicksand:400,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: 'black';
    font-size: 1rem;
    background-color: #f7f4f4;
}

/* Navigation */
.left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0  10px 40px rgb(0,0,0,.4);
}

.logo { 
    text-align: center;
}

.logo img{
    width: 5.2rem;
    height: 100%;
}

.navbar {
    width: 100%;
}

.navbar ul {
    padding: 2rem;
    list-style-type: none;
}

.navbar ul li {
    text-align: center;
    padding: 0.8rem 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.1s ease 0s;
}

.navbar ul li a:hover {
    cursor: pointer;
    font-weight: 500;
}

.footer h5{
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

.current {
    color: purple !important;
    font-weight: 500;
}

.current:hover {
    border: none !important;
}

.right{
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.uper-border{
    background-color:white; 
    box-shadow: 0 10px 20px rgb(0,0,0,.4);
    height:10%;
    width:100%;
}
.hedding1{
    margin-left: 15%;
    margin-top: 1.5%;
}
.hedding2{
    margin-left: 65%;
    margin-top: -2%;
}
.custom-select {
    position: relative;
    float: right;
    margin-top: -1.9%;
  }

  
.container{
    height: 89%;
    margin-left: 2%;
    font-size: 0.8rem;
    min-height: 3rem;
    display: grid;
    grid-template-columns: repeat(9,100px);
    grid-template-rows: repeat(5,90px);
    grid-column-gap: 1.2rem;
    grid-row-gap: 0.5rem;
    text-align: center;
}

.day, .time {
    background-color:rgb(199, 222, 129)
}
.day p{
    transform: translate(7%,7%,-50%,-50%);
    margin-top: 35%;
}

.time p{
    transform: translate(7%,7%,-50%,-50%);
    margin-top: 20%;
}

.classes p{
    transform: translate(7%,7%,-50%,-50%);
    margin-top: 28%;
    color:darkblue;
}

.classes{
    background-color:rgb(232, 203, 172)
}